<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API suite" parallel="tests" >
  <test name="Test on Rest API" >
    <classes>
      <class name="src/test/java/com.org.shuttl.api.APITest"/>
      
    </classes>
 </test>
</suite>